@import 'styles/variables/index';

.modal-container {
  width: 35% !important;

  header {
    background-color: $primary-color;
    color: $white;

    .close-btn {
      display: none;
    }
  }
}

.create-quiz-modal {
  display: flex;
  justify-content: center;
  font-size: 3rem;

  form {
    & > * {
      margin-bottom: 2rem;
    }

    input,
    select {
      font-size: 2.5rem;
      width: 30rem;
    }

    .submit-btn,
    .cancel-btn {
      font-size: 2rem;
      width: 13rem;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
    }

    .input-with-label,
    .drop-down-with-label {
      flex-direction: column;
      text-align: center;
    }
  }
}
