.drop-down-btns {
  position: relative;
  text-align: center;
  width: 10rem;
  font-size: inherit;
  padding: 0.5rem;
  background-color: var(--primary-color);
  box-shadow: 0 0 1.75rem var(--shadow);
  outline: 1px solid var(--black);

  &.open {
    .btn-options {
      clip-path: inset(0 0 0 0);
    }
  }

  &.closed {
    .btn-options {
      clip-path: inset(0 0 100% 0);
    }
  }

  &:hover {
    box-shadow: none;
    background-color: var(--primary-color-dark);
  }

  .btn-options {
    display: flex;
    width: calc(10rem + 2px);
    flex-direction: column;
    position: absolute;
    top: 36px;
    left: -1px;
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1.5px solid var(--black);
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    transition: clip-path 0.3s;
    transition-timing-function: cubic-bezier(0.52, 0.01, 0.13, 0.99);

    button {
      background-color: var(--gray);
      border: none;
      padding: 0.4rem 0;
      transition: all 0.2s;

      &:hover {
        background-color: var(--primary-color-light);
        color: var(--white);
      }

      &:last-child {
        border-bottom-left-radius: 3.5px 3.5px;
        border-bottom-right-radius: 3.5px 3.5px;
      }
    }
  }
}

// INSTANCES

.navbar-drop-down-btns {
  background-color: var(--secondary-color-light);

  &:hover {
    background-color: var(--secondary-color);
  }
}
