:root {
  --primary-color: #3462cc;
  --primary-color-light: #376ce6;
  --primary-color-dark: #19409b;
  --secondary-color: #d87935;
  --secondary-color-light: #f1873a;
  --background-color: #fffafa;
  --yellow: #fafa04;
  --pink: #b334cc;
  --white: #fff;
  --gray: #eee5e5;
  --black: #000000;
  --shadow: rgba(0, 0, 0, 0.62);
  --light-shadow: rgba(0, 0, 0, 0.288);
  --highlight: #f7f6ec;
  --submit-green-light: #2bbe5c;
  --submit-green-dark: #1ab64e;
  --cancel-red-light: #f1404b;
  --cancel-red-dark: #e7303d;
}

@import './base';
@import './buttons';
