nav {
  position: fixed;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: var(--primary-color-dark);
  font-size: 2rem;
  color: var(--white);
  top: 0;
  left: 0;

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;

    .app-title {
      margin-right: 15rem;
    }

    .left-side {
      display: flex;

      & > *:not(:last-child) {
        margin-right: 5rem;
      }
    }

    .right-side {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      .search {
        display: flex;
        margin-left: 10rem;

        svg {
          height: 3rem;
          width: 3rem;
        }

        input {
          height: 3rem;
          font-size: 1.75rem;
        }
      }
    }
  }
}
