@import 'styles/variables/index';

.drop-down-with-label {
  display: flex;
  align-items: center;
  font-size: inherit;

  select {
    margin-left: 1rem;
    padding: $input-padding;
    border: $input-border;
    border-radius: $border-radius;
    min-width: 10rem;

    &:focus {
      outline: none;
      background-color: $input-focus-background-color;
    }

    option {
      background-color: $white;
    }
  }
}
