.drop-down-with-label {
  display: flex;
  align-items: center;
  font-size: inherit;

  select {
    margin-left: 1rem;
    padding: 0.2rem 1rem;
    border: inset 2.25px var(--gray);
    border-radius: 20px;
    min-width: 10rem;

    &:focus {
      outline: none;
      background-color: var(--highlight);
    }

    option {
      background-color: var(--white);
    }
  }
}
