@import 'styles/variables/index';

.btn {
  font-size: 2rem;
  padding: $button-padding;
  border-radius: $border-radius;
  text-decoration: none;
  border: none;
  box-shadow: $box-shadow;
  transform: $button-starting-position;
  transition: all 0.1s;

  &:focus {
    outline: none;
  }

  &:active {
    transform: $button-ending-position;
    box-shadow: $box-shadow;
  }

  &.btn-small {
    font-size: 1.5rem;
  }

  &.btn-large {
    font-size: 2.5rem;
  }

  &.btn-xlarge {
    font-size: 3rem;
  }
}

.submit-btn {
  background-color: $submit-green-light;
  color: white;

  &:hover {
    background-color: $submit-green-dark;
  }
}

.cancel-btn {
  background-color: $cancel-red-light;
  color: white;

  &:hover {
    background-color: $cancel-red-dark;
  }
}
