:root {
  --primary-color: #3462cc;
  --primary-color-light: #376ce6;
  --primary-color-dark: #19409b;
  --secondary-color: #d87935;
  --secondary-color-light: #f1873a;
  --background-color: #fffafa;
  --yellow: #fafa04;
  --pink: #b334cc;
  --white: #fff;
  --gray: #eee5e5;
  --black: #000000;
  --shadow: rgba(0, 0, 0, 0.62);
  --highlight: #f7f6ec;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  box-sizing: border-box;
}

main.App:nth-child(1) {
  margin-top: 6rem;
  padding: 5rem 3rem;
}
