@import 'styles/variables/index';

.drop-down-btns {
  position: relative;
  text-align: center;
  width: 10rem;
  font-size: inherit;
  padding: $button-padding;
  outline: $outline-default;

  &.open {
    background-color: $secondary-color;
    box-shadow: none;
    .btn-options {
      clip-path: inset(0 0 0 0);
    }
  }

  &.closed {
    background-color: $secondary-color-light;
    box-shadow: $box-shadow;
    .btn-options {
      clip-path: inset(0 0 100% 0);
    }
  }

  .btn-options {
    display: flex;
    width: calc(10rem + 2px);
    flex-direction: column;
    position: absolute;
    top: 36px;
    left: -1px;
    border-left: $outline-default;
    border-right: $outline-default;
    border-bottom: $outline-default;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    transition: clip-path 0.3s;
    transition-timing-function: cubic-bezier(0.52, 0.01, 0.13, 0.99);

    button {
      background-color: $gray;
      border: none;
      padding: 0.4rem 0;
      transition: $transition-default;

      &:hover {
        background-color: $primary-color-light;
        color: $white;
      }

      &:last-child {
        border-bottom-left-radius: 3.5px 3.5px;
        border-bottom-right-radius: 3.5px 3.5px;
      }
    }
  }
}
